@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #f8f8ff;
  --primary: #f27f0c;
  --secondary: #e9c654;
  --muted: #67707d;
  --hover: #94a3b8;
  --border: #282a2e;
  --card-bg: #2f3136;
  --card-bg-dark: #151517;
}

.accent-gradient {
  background: linear-gradient(121deg, #15bd5e, #0f5bc4);
}

.dark-gradient {
  background: #1c1d21;
  background: linear-gradient(
    160deg,  
    #1c1d21 0%, 
    #2E3240 40%, 
    #3C4C7A 100% 
  );
}

.card {
  border: var(--border) solid 1px;
  border-radius: var(--radius-2xl);
}

.prose a {
  color: var(--primary);
  text-decoration: underline;
}

.prose h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 2;
}

.prose p {
  margin-bottom: 1rem;
  padding-left: 1rem;
  line-height: 2;
}

.prose ul {
  list-style-type: disc;
  padding-left: 3rem;
  line-height: 2;
  margin-bottom: 1rem;
}

.prose ol {
  list-style-type: decimal;
}

.prose code {
  color: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 70%
  }
}

@keyframes blink {

  0%,
  100% {
    border-color: transparent
  }

  50% {
    border-color: white
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  width: 9.6ch;
  animation:
    typing 1.2s steps(10, end),
    blink 0.7s step-end infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scroll 20s linear infinite;
}