@import "tailwindcss";

:root {
  --background: #24262a;
  --foreground: #f8f8ff;
  --primary: #f97316;
  --secondary: #cacdd1;
  --muted: #67707d;
  --border: #303439;
  --card-bg: #2f3136;
}

.hero-bg {
  background-image: linear-gradient(180deg, #2a3b63 0%, #24262a 100%);
  background-size: cover;
  background-position: bottom;
}

.prose a {
  color: var(--primary);
}

.prose h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose p {
  margin-bottom: 1rem;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: white }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  width: 9.5ch;
  animation:
    typing 1.2s steps(10, end),
    blink 0.7s step-end infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scroll 30s linear infinite;
}